header{
    background-color: black;
    color: rgb(255, 255, 255);

}
@media screen and (max-width:750px){
    .shopcontainer {
        width: 2500px;
        flex-direction: column; /* Stack products vertically on smaller screens */
    
    }

    .products {
        width: 100%; /* Make each product take full width on smaller screens */
        box-sizing: border-box; /* Include padding and border in the element's total width */
        padding: 10px; /* Add padding for spacing */
        margin-bottom: 10px; /* Add margin for spacing between products */
    }

    .products .img {
        width: 100%; /* Make the image fill the width of the product container */
        height: auto; /* Allow images to scale based on the width on smaller screens */
        border-radius: 20px; /* Add border-radius for rounded corners */
    }

}

.title{
    font-size: 1.5em;
    color: rgb(13, 218, 105);
    display: flex;
    align-items: center;
    padding: 5px;
    float: left;
    font-family: "Press Start 2P", "consolas", sans-serif;
    vertical-align: center;

}
body{
    margin: 0px;
    padding: 0px;
}

#reg{
    text-decoration: none;
    color: rgb(13, 218, 105);
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 10px;
    float: right;

}
#reg:hover{
    display: inline-block;
    color:rgba(13, 218, 105, 0.459);
    margin: auto;
}
#reg img{
    margin: 3px;
    filter: brightness(1) invert(0);
    height: 20px;
    vertical-align: middle;
   background-color: rgb(13, 218, 105);
   border-radius: 30px;
   
  
}

.searchbox{
 
  display: inline-block;
    margin: auto;
    position: relative;
    width: 300px;
    height: 42px;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
    padding: 0px 10px;

}
.elementbox{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding: 1px 10px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: solid  rgb(13, 218, 105);
}

.search:focus{
    outline: none;
}
.searchicon{
    margin-top: 5px;
    padding: 0px;
    display: inline-block;
    color: white;
}
.search{
    border: none;
    font-size: 1.1em;
}
/*search button
style="width: 50px;height: 30px;background-color: rgb(39, 219, 129);
                border:inset 0px;color: black;"
*/

.navbar{

    background: black;
    border-top: 3px solid white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-flex;
    justify-content: baseline;

    padding: 5px;
    align-items: center;

}
.icon{
    color: white;
    filter: brightness(0) invert(1);

}
.navbar .links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navbar .links a:hover:not(.active){
    border-bottom:4px solid rgb(13, 218, 105);
    color: rgb(150, 150, 150);
}





.dropdown{
    display: inline-block;
}
.dropdown button{
    width: 200px;
    background-color: rgb(0, 0, 0);
    height: 100%;
    cursor: pointer;
    color: white;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;

}
.dropdown :hover button{
    background-color: rgb(13, 218, 105);
    border: 2px solid rgb(255, 255, 255);
  
}
.dropdown a{
    text-decoration: none;
    display: block;
    color: black;
    border:  1px solid black;
    padding: 10px 10px;
    width: 100%;
    margin: 0;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 70px;
    box-shadow: -2px 5px 3px hsla(0, 0%, 0%, 0.562);
    color: black;
    width: 200px;
}
.dropdown:hover .content{
    display:block;

}
.dropdown .content a:hover:not(.active){
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}
.dropdown:hover button{
    background-color:rgb(9, 121, 59);
}

.shopcontainer{
    display: flex;
   margin: auto;
   /* background-color: red;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.products{
 margin: 10px;
    /*background-color: blue;*/
}
.info a{
    word-wrap: break-word;
    text-decoration: none;
    color: black;
   /* background-color: green;*/
}
.info a:hover{
    cursor: pointer;
    color: rgb(9, 121, 59);;
}
.shopcontainer .products .price{
    font-weight: bold;
    font-size: 1.1em;
}
 .addcart{
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family:sans-serif;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}
.addcart:hover{
    
   background-color: rgb(13, 218, 105);
   color: black;
   border-color: black;
}
.shopcontainer .products .addcart.expanded {
    background-color: rgb(13, 218, 105);
    color: black;
    border-color: black;
    
}

.shopcontainer .products .img{
    height: 300px;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    border: 5px solid black;
}
.shopcontainer .products{
    height: 500px;
    width: 25%;
}


.pages{
    margin: 15px;
    text-align: center;
    box-sizing: border-box;
}
.pages a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    font-size: 1.2em;
}
.pages a.active{
    background-color: rgb(50, 205, 76);
    font-weight: bold;
    border-radius: 10px;
    color: black;
}
.pages a:hover:not(.active){
    background-color: rgb(187, 181, 181);
    border-radius: 10px;
    color: black;

}

main{
 
    padding: 20px;
}
.left{
    width: 30%;
    text-align: center;
}

.right{
    border: 2px solid black;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;


   
}
.right input,
.right textarea {
    /*margin: 10px;*/
    border: none;
    border-bottom:2px solid gray ;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}
.right input:focus,
.right textarea:focus{
    border-bottom: 2px solid black;
}
::placeholder{
    font-weight: bold;
}
textarea{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

textarea ::-webkit-scrollbar{
    width: 0px;

}
largetext{
    vertical-align: center;
    margin: 20px;
font-size: 30px;
    font-family: "Press Start 2P", "consolas", sans-serif;
   display: inline-block;
}
.send{
    
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 16px;
    font-family: "Press Start 2P", "consolas", sans-serif;
}
.send:hover{
    background-color: gray;
   
    cursor: pointer;
}
.send a{
    text-decoration: none;
    color: black;
}
.thanks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 20px;
    font-family: "Press Start 2P", "consolas", sans-serif;

}
#back{
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    background-color: rgb(50, 205, 76);
    border-radius: 10px;
}
#back:hover{
    border: 3px solid black;

}


.pContainer {
   display: flex;
   align-content: flex-start;
   margin-top: 30px;
   
  
}

@media screen and (max-width:750px) {
    .pContainer{
        flex-wrap: wrap;
    }
    .p_main{
        width: 100%;
    }
    .info_container{
        width: 100%;
    }
    
}

 
 .pContainer .p_main {
     border: 5px solid black;
     margin: 20px;
     width: 90%;
 }
 
 
 .pContainer .p_info {
     display: flex;
    
     flex-direction: column;
     align-items: flex-start;
     margin: 20px;
 }
 
 .p_preview {
    border: 5px solid black;
    padding: 10px;
     width: 100px;
     margin:20px;
     margin-top: 5px;
 }
 
 .info_container {
     display: flex;
     align-items: flex-start;
 }
 .p_info{
  
    margin: 20px;
    padding: 20px;
 }
 .ProductTitle{
    font-size: 30px;
   font-family: 'sans-serif' ,'Gill Sans', 'Gill Sans MT';
    font-weight: bold;

}
.ProductPrice{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: gray;
}

 .p_preview:hover{
    cursor: pointer;
    border-color: rgb(7, 199, 7);
 }

.description{
    border-radius: 10px;
    margin: 50px;
    border: 5px solid black;
 }
 .desc{
    
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
 }
 .description p{
    margin: 10px;
    padding: 5px;
 }

 .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.largeImage {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid black;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.carttext{
    
    font-size: 30px;
    margin: 70px;
    padding: 10px;
    color: gray;
    font-family: "Press Start 2P", "consolas", sans-serif;
}
.GoShopping{
    background-color: black;
    margin: 70px;
    border-radius: 10px;
}
.GoShopping a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-flex;
    justify-content: baseline;
    padding: 5px;
    align-items: center;
   
}

footer{
    margin-top: 10%;
    background-color: rgb(36, 36, 36);
    margin-bottom: 0px;

}

.f{
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-size: 1.5em; color:rgb(13, 218, 105);
    font-weight: bold;
    color: rgb(13, 218, 105);
    display: flex;
    justify-content: space-between;
    margin-left:30px;

}

.footermain {
   
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
  }
  
  .footerleft,
  .footercenter,
  .footerright {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
  
  }
  .footercenter{

    margin-left:100px;
  }
  
  .fundi {
    text-align: center;
    margin-top: 20px;
  }
  
.footercenter p{
    display: flex;
    justify-content: center;
    padding-left: 150px;

    
}
.footerright p{
    display: flex;
    justify-content: end;
}

 .fundi{
    color: lightgreen;
    display: flex;
    justify-content: flex-start;
    margin: 1.5em;
    margin-bottom: 0px;
 }

