header{
    background-color: black;
    color: rgb(255, 255, 255);

}
.title{
    font-size: 1.5em;
    color: rgb(13, 218, 105);
    display: flex;
    align-items: center;
    padding: 5px;
    float: left;
    font-family: "Press Start 2P", "consolas", sans-serif;
    vertical-align: center;

}
body{
    margin: 0px;
    padding: 0px;
}

#reg{
    text-decoration: none;
    color: rgb(13, 218, 105);
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 10px;
    float: right;

}
#reg:hover{
    display: inline-block;
    color:rgba(13, 218, 105, 0.459);
    margin: auto;
}
#reg img{
    margin: 3px;
    filter: brightness(1) invert(0);
    height: 20px;
    vertical-align: middle;
   background-color: rgb(13, 218, 105);
   border-radius: 30px;
   
  
}

.searchbox{
 
  display: inline-block;
    margin: auto;
    position: relative;
    width: 300px;
    height: 42px;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
    padding: 0px 10px;

}
.elementbox{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding: 1px 10px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: solid  rgb(13, 218, 105);
}

.search:focus{
    outline: none;
}
.searchicon{
    margin-top: 5px;
    padding: 0px;
    display: inline-block;
    color: white;
}
.search{
    border: none;
    font-size: 1.1em;
}
/*search button
style="width: 50px;height: 30px;background-color: rgb(39, 219, 129);
                border:inset 0px;color: black;"
*/

.navbar{

    background: black;
    border-top: 3px solid white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-flex;
    justify-content: baseline;

    padding: 5px;
    align-items: center;

}
.icon{
    color: white;
    filter: brightness(0) invert(1);

}
.navbar .links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navbar .links a:hover:not(.active){
    border-bottom: 4px solid rgb(13, 218, 105);
    border-radius: 1px;
    color: rgb(150, 150, 150);
}





.dropdown{
    display: inline-block;
}
.dropdown button{
    width: 200px;
    background-color: rgb(0, 0, 0);
    height: 100%;
    cursor: pointer;
    color: white;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;

}
.dropdown :hover button{
    background-color: rgb(13, 218, 105);
    border: 2px solid rgb(255, 255, 255);
  
}
.dropdown a{
    text-decoration: none;
    display: block;
    color: black;
    border:  1px solid black;
    padding: 10px 10px;
    width: 100%;
    margin: 0;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 70px;
    box-shadow: -2px 5px 3px hsla(0, 0%, 0%, 0.562);
    color: black;
}
.dropdown:hover .content{
    display:block;
}
.dropdown .content a:hover:not(.active){
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}
.dropdown:hover button{
    background-color:rgb(9, 121, 59);
}

.shopcontainer{
    display: flex;
   margin: auto;
   /* background-color: red;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.products{
 margin: 10px;
    /*background-color: blue;*/
}
.info a{
    word-wrap: break-word;
    text-decoration: none;
    color: black;
   /* background-color: green;*/
}
.info a:hover{
    cursor: pointer;
    color: rgb(9, 121, 59);;
}
.shopcontainer .products .price{
    font-weight: bold;
    font-size: 1.1em;
}
.shopcontainer .products .addcart{
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-family:sans-serif;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}
.shopcontainer .products .addcart:hover{
    
   background-color: rgb(13, 218, 105);
   color: black;
   border-color: black;
}
.shopcontainer .products .img{
    height: 300px;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    border: 5px solid black;
}
.shopcontainer .products{
    height: 500px;
    width: 25%;
}


.pages{
    margin: 15px;
    text-align: center;
}
.pages a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    font-size: 1.2em;
}
.pages a.active{
    background-color: rgb(50, 205, 76);
    font-weight: bold;
    border-radius: 10px;
    color: black;
}
.pages a:hover:not(.active){
    background-color: rgb(187, 181, 181);
    border-radius: 10px;

}